/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
    &-list {
        @include tablet {
            margin: 0 -15px;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
    }

    &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $color-teal-light;
        width: 36px;
        height: 36px;
        margin: 0 12px 0 10px;
        [dir="rtl"] & {
            margin: 0 10px 0 12px;
        }
        @include tablet {
            width: 56px;
            height: 56px;
            margin: 0 16px 0 24px;
            [dir="rtl"] & {
                margin: 0 24px 0 16px;
            }
        }
        & > img {
            width: 16px;
            height: 16px;
            @include tablet {
                width: 24px;
                height: 24px;
            }
        }
    }

    &-item {
        background-color: $color-white;
        border-radius: 4px;
        box-sizing: border-box;
        color: $color-charcoal;
        display: flex;
        flex: 1 0 340px;
        margin: 0 0 8px;
        max-width: 100%;
        align-items: center;

        @include tablet {
            margin: 0 8px 16px;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $color-white;

            * {
                color: $color-charcoal;
                text-decoration: none;
            }
        }

        &-internal {
            background-color: transparent;
            border: 1px solid $color-white;

            .icon-lock::before {
                content: "\1F512";
                font-size: 15px;
                bottom: 5px;
                position: relative;
            }

            a {
                color: $color-charcoal;
            }
        }
    }

    &-item-link {
        color: $color-charcoal;
        @include tablet {
            padding: 24px 0;
        }
        padding: 16px 0;
        border-radius: inherit;

        &:hover,
        &:active {
            text-decoration: none;
        }

        &:focus {
            @include focus-ring;
            text-decoration: none;
        }
    }

    &-item-title {
        @include tablet {
            font-family: $heading_font;
            font-size: $font-size-h6;
            font-weight: $font-weight-500;
            padding-top: 18px;
        }
        margin-bottom: 0;
        font-family: $text_font;
        font-size: $font-size-p3;
        font-weight: $font-weight-base;
    }

    &-item-description {
        font-family: $text_font;
        font-size: $font-size-p6;
        font-weight: $font-weight-light;
        color: $color-slate;
        margin: 0;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 220px;
        @include tablet {
            font-size: $font-size-p4;
        }
    }

    &-item-description:not(:empty) {
        @include tablet {
            margin-top: 0px;
        }
        margin-top: -2px;
    }

    &-item-description:empty {
        margin-top: -2px;
    }
}
