/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
    &-list {
        @include tablet {
            margin: 0 -15px;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
    }

    &-item {
        @include tablet {
            margin: 0 15px 30px;
        }
        background-color: $color-white;
        border-radius: 4px;
        box-sizing: border-box;
        color: $color-charcoal;
        display: flex;
        flex: 1 0 340px;
        margin: 0 0 30px;
        max-width: 100%;
        text-align: center;

        &:hover,
        &:focus,
        &:active {
            background-color: $color-white;

            * {
                color: $color-charcoal;
                text-decoration: none;
            }
        }

        &-internal {
            background-color: transparent;
            border: 1px solid $color-white;

            .icon-lock::before {
                content: "\1F512";
                font-size: 15px;
                bottom: 5px;
                position: relative;
            }

            a {
                color: $color-charcoal;
            }
        }
    }

    &-item-link {
        color: $color-charcoal;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        border-radius: inherit;

        &:hover,
        &:active {
            text-decoration: none;
        }

        &:focus {
            @include focus-ring;
            text-decoration: none;
        }
    }

    &-item-title {
        margin-bottom: 0;
        font-family: $heading_font;
        font-size: $font-size-h6;
        font-weight: $font-weight-500;
    }

    &-item-description {
        font-family: $text_font;
        font-size: $font-size-p4;
        font-weight: $font-weight-light;
        color: $color-slate;
        margin: 0;
    }

    &-item-description:not(:empty) {
        margin-top: 10px;
    }
}
