/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
    &:last-of-type {
        margin-bottom: 1rem;
    }

    &-stacked {
        @include tablet {
            margin: 0 -15px;
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 6px 0;

        &-centered {
            justify-content: center;
        }
    }

    &-button {
        margin-bottom: 16px;
        background-color: $color-white;
        border-radius: 4px;
        box-sizing: border-box;
        color: $color-charcoal;
        display: flex;
        justify-content: space-around;
        flex: 1 0 auto;
        padding: 16px;
        align-items: center;

        div:last-child {
            width: calc(100% - 114px);
        }

        @include tablet {
            flex: 0 1 auto;
            margin: 0 8px 16px;
            div:last-child {
                [dir="rtl"] & {
                    margin-right: 16px;
                }
                width: 182px;
                margin-left: 16px;
            }
        }

        // Hide the chat button initially, as it will be shown by JS if chat
        // functions object (zE) is detected.
        &-chat {
            display: none;
        }
    }

    &-list {
        @include tablet {
            margin: 0 -15px;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding: 0;

        &-centered {
            justify-content: center;
        }
    }

    &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #232e3f;
        color: $color-white;
        min-width: 56px;
        width: 56px;
        height: 56px;
        margin: 0 12px 0 10px;
        [dir="rtl"] & {
            margin: 0 10px 0 12px;
        }
        @include dark-mode {
            background-color: $color-teal-dark-mode;
        }
        @include tablet {
            min-width: 56px;
            width: 56px;
            height: 56px;
            margin: 0 16px 0 24px;
            [dir="rtl"] & {
                margin: 0 24px 0 16px;
            }
        }
        & > img {
            width: 24px;
            height: 24px;
        }
    }

    &-item {
        @include tablet {
            margin: 0 15px 30px;
        }
        background-color: $color-white;
        border: 1px solid $color-white;
        border-radius: 4px;
        box-sizing: border-box;
        color: $color-charcoal;
        display: flex;
        flex: 1 0 340px;
        margin: 0 0 15px;
        max-width: 100%;
        align-items: center;

        &:hover,
        &:focus,
        &:active {
            background-color: $color-white;

            * {
                color: $color-charcoal;
                text-decoration: none;
            }
        }

        &-internal {
            background-color: transparent;
            border: 1px solid $border-color;

            .icon-lock {
                height: 15px;
                width: 15px;
                bottom: 5px;
                position: relative;
            }

            a {
                color: $text_color;
            }
        }
    }

    &-item-link {
        width: 100%;
        color: $brand_color;
        @include tablet {
            padding: 16px 0px;
        }
        padding: 12px 5px;
        display: flex;
        align-items: center;
        border-radius: inherit;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            background: transparent;
        }
    }

    &-item-title {
        margin-bottom: 0;
        @include tablet {
            font-size: 20px;
        }
        font-size: 18px;
        font-family: $heading_font;
        color: $color-charcoal;
    }

    &-item-description {
        font-weight: $font-weight-light;
        font-size: 0.85rem;
        margin: 0;
        color: $color-slate;
    }

    &-item-description:not(:empty) {
        margin-top: 10px;
    }
}
