/***** Buttons *****/
.button {
    @include tablet {
        width: auto;
    }

    background-color: transparent;
    border: 1px solid $color-charcoal;
    border-radius: 4px;
    color: $color-charcoal;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 2.34; //Taken from Zendesk garden bedrock
    margin: 0;
    padding: 0 20px;
    text-align: center;
    transition: background-color 0.12s ease-in-out,
        border-color 0.12s ease-in-out, color 0.15s ease-in-out,
        box-shadow 0.3s ease;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    -webkit-touch-callout: none;
    box-shadow: inset 0 0 0 1px $color-charcoal;
    letter-spacing: 0.03rem;

    &:hover,
    &:active,
    &:focus {
        box-shadow: inset 0 0 0 3px $color-charcoal;
        outline-color: $color-charcoal;
    }

    &.button-primary {
        background-color: transparent;
        &[aria-pressed="true"] {
            @extend .button-subscribed;
        }
    }

    &.button-subscribed {
        background-color: $color-teal-light;
        color: $color-slate;
        border: 1px solid transparent;
        box-shadow: inset 0 0 0 1px $color-teal-primary;
        &:hover,
        &:active,
        &:focus {
            box-shadow: inset 0 0 0 3px $color-teal-primary;
            outline-color: $color-teal-primary;
            background-color: $color-pale-gray;
        }
    }

    &[data-disabled] {
        cursor: default;
    }
}

button[type="button"] {
    outline: none;
}

.button-large,
input[type="submit"] {
    @include tablet {
        width: auto;
        height: 48px;
    }

    cursor: pointer;
    background-color: $color-charcoal;
    border: 0;
    border-radius: 4px;
    color: $color-white;
    font-size: 18px;
    font-family: $heading_font;
    line-height: 2.72;
    min-width: 190px;
    padding: 0 1.9286em;
    width: 100%;
    box-shadow: inset 0 0 0 8px $color-charcoal;
    transition: all 0.3s ease;

    &:hover,
    &:active,
    &:focus {
        background: none;
        color: $color-white;
        box-shadow: inset 0 0 0 5px $color-charcoal;
        color: $color-charcoal;
    }

    &[disabled] {
        background-color: $color-duck-egg-blue;
        box-shadow: inset 0 0 0 5px $color-roman-silver;
        color: $color-white;
        cursor: unset;
    }
}

.button-secondary {
    color: $secondary-text-color;
    border: 1px solid $border-color;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: $text_color;
        border: 1px solid $border-color;
        background-color: $primary-shade;
    }
}

// OLX DESIGN
.olx-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $button-border-radius;
    font-size: $font-size-p4;
    font-family: $heading_font;
    height: 40px;
    max-height: 40px;
    min-width: 108px;
    cursor: pointer;
    transition: all 0.3s ease;

    &-primary {
        background-color: $color-charcoal;
        color: $color-white;
        box-shadow: inset 0 0 0 8px $color-charcoal;

        &:hover,
        &:focus,
        &:active {
            background: none;
            color: $color-charcoal;
            box-shadow: inset 0 0 0 5px $color-charcoal;
        }
    }

    &-secondary {
        background: $color-white;
        color: $color-charcoal;
        box-shadow: inset 0 0 0 8px $color-white;

        &:hover,
        &:focus,
        &:active {
            background: none;
            color: $color-white;
            box-shadow: inset 0 0 0 5px $color-white;
        }
    }

    &-large {
        height: 48px;
        max-height: 48px;
        font-size: $font-size-p3;
    }
}
