/***** Buttons *****/
.button {
    @include tablet {
        width: auto;
    }

    background-color: $color-primary;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: $border-radius;

    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 2.34; //Taken from Zendesk garden bedrock
    margin: 0;
    padding: 0 20px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    -webkit-touch-callout: none;
    letter-spacing: 0.03rem;

    &:hover,
    &:active,
    &:focus {
        background-color: $color-primary-hover;
        text-decoration: none;
    }

    &.button-primary {
        background-color: transparent;
        &[aria-pressed="true"] {
            @extend .button-subscribed;
        }
    }

    &.button-subscribed {
        background-color: $color-white;
        color: $color-secondary;
        border: 1px solid $color-secondary;
        &:hover,
        &:active,
        &:focus {
            background-color: $color-secondary-faded;
        }
    }

    &[data-disabled] {
        cursor: default;
    }
}

button[type="button"] {
    outline: none;
}

.button-large,
input[type="submit"] {
    @include tablet {
        width: auto;
        height: 48px;
    }

    cursor: pointer;
    background-color: $color-secondary;

    border: 0;
    border-radius: $border-radius;
    color: $color-white;
    font-size: 18px;
    font-family: $heading_font;
    line-height: 2.72;
    min-width: 190px;
    padding: 0 1.9286em;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
        background-color: $color-secondary-hover;
    }

    &[disabled] {
        background-color: $color-duck-egg-blue;
        box-shadow: inset 0 0 0 5px $color-roman-silver;
        color: $color-white;
        cursor: unset;
    }
}

.button-secondary {
    color: $secondary-text-color;
    border: 1px solid $border-color;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: $text_color;
        border: 1px solid $border-color;
        background-color: $primary-shade;
    }
}

// OLX DESIGN
.olx-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $button-border-radius;
    font-size: $font-size-p4;
    font-family: $heading_font;
    height: 40px;
    max-height: 40px;
    min-width: 108px;
    cursor: pointer;
    transition: all 0.3s ease;

    &-primary {
        background-color: $button-color;
        color: $color-white;

        &:hover,
        &:focus,
        &:active {
            background-color: $hover-button-color;
            text-decoration: none;
        }
    }

    // &-secondary {
    //     // background: $color-white;
    //     background-color: $button-color;
    //     color: $color-white;
    //     // box-shadow: inset 0 0 0 8px $color-white;

    //     &:hover,
    //     &:focus,
    //     &:active {
    //         background-color: $hover-button-color;
    //         color: $color-white;
    //         // background: none;
    //         // color: $color-white;
    //         // box-shadow: inset 0 0 0 5px $color-white;
    //     }
    // }

    &-large {
        height: 40px;
        max-height: 40px;
        font-size: 14px;
        text-shadow: 1px 1px 1px rgba(48, 48, 48, 0.35);
    }
}
