/***** Footer *****/
.footer {
    border-top: 1px solid $border-color;
    padding: 14px 0 8px 0;
    font-weight: $font-weight-base;

    .title > span:first-child {
        display: none;
        @include tablet {
            display: inline-block;
            font-size: $font-size-p4;
        }
    }
    .title > .subtitle {
        font-size: $font-size-p4;
    }

    @include tablet {
        margin-top: 10px;
        padding: 18px 0 21px 0;
    }

    a[title] {
        color: $color-charcoal;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            background-color: transparent;
        }
    }

    &-inner {
        @include max-width-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > .title {
            font-size: 14px;
        }
    }

    &-language-selector {
        color: $secondary-text-color;
        display: inline-block;
        font-weight: $font-weight-light;
    }
}
