/***** Footer *****/
.footer {
    border-top: 1px solid $border-color;
    padding: 21px 0 12px 0;

    .title > span:first-child {
        display: none;
        @include tablet {
            display: inline-block;
            font-size: $font-size-p4;
        }
    }
    .title > .subtitle {
        font-size: $font-size-p4;
    }

    @include tablet {
        margin-top: 60px;
        padding: 28px 0 21px 0;
    }

    a {
        color: $secondary-text-color;
    }

    &-inner {
        @include max-width-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-language-selector {
        color: $secondary-text-color;
        display: inline-block;
        font-weight: $font-weight-light;
    }
}
