/***** Header *****/
$header-height: 72px;

.header {
    background-color: $header-background-color;
    box-shadow: $header-box-shadow;

    & > div {
        @include max-width-container;
        @include tablet {
            height: $header-height;
        }
        display: flex;
        height: $header-height - 16px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    img {
        max-height: 37px;
        height: 37px;
        @include tablet {
            max-height: 41px;
            height: 41px;
        }
    }
    div {
        display: none;
        @include tablet {
            display: block;
            margin-left: 16px;
            [dir="rtl"] & {
                margin-right: 16px;
            }
            a {
                font-family: $heading-font;
                color: $brand_text_color;
                white-space: nowrap;
                font-size: 20px;
                line-height: 1.1;
                font-weight: 500;
            }
        }
    }

    @include tablet {
        display: flex;
        align-items: center;
    }
}

.user-nav {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    a {
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        [dir="rtl"] & {
            padding: 0 0 0 20px;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            color: $charcoal;
            text-decoration: none;
        }

        &.login {
            display: inline-block;
        }
    }
}

.skip-navigation {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 14px;
    justify-content: center;
    left: -999px;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    position: absolute;
    top: auto;
    z-index: -999;

    &:focus,
    &:active {
        left: auto;
        overflow: auto;
        text-align: center;
        text-decoration: none;
        top: auto;
        z-index: 999;
    }
}
