/***** Hero component *****/
.hero {
    @include tablet {
        min-height: 300px;
    }
    position: relative;
    // background-color: $color-blue-light;
    background-color: $color-aero-blue;
    min-height: 140px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;

    &::before {
        @include tablet {
            width: 966px;
            height: 966px;
            // border: 100px solid $color-blue-primary;
            border: 100px solid $color-teal-primary;
        }
        @include desktop {
            width: 1066px;
            height: 1066px;
            // border: 130px solid $color-blue-primary;
            border: 130px solid $color-teal-primary;
        }

        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 420px;
        height: 420px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        // border: 70px solid $color-blue-primary;
        border: 70px solid $color-teal-primary;

        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: -1;
    }

    &-inner {
        width: 100%;
        max-width: 610px;
        text-align: center;
    }

    & h1 {
        @include tablet {
            font-size: calc(34px + 6 * ((100vw - 320px) / 680));
            line-height: 1.05;
            letter-spacing: 0.5px;
        }

        font-size: calc(24px + 6 * ((100vw - 320px) / 680));
        line-height: 1.08;
        margin-top: 8px;
    }
}
