/***** Social share links *****/

.share {
  padding: 0;
  white-space: nowrap;
}

.share li, .share a {
  display: inline-block;
}

.share li {
  height: 25px;
  width: 25px;
}

.share a {
  color: $color-primary;
  &:hover {
    text-decoration: none;
    color: $color-primary-hover;
  }
  
  & svg {
    height: 18px;
    width: 18px;
    display: block;  
  }
}
