.sub-nav {
    @include tablet {
        align-items: center;
        flex-direction: row;
        padding: 20px 0;
        background-color: $color-white;
        margin-bottom: 30px;
    }

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: $color-pale-gray;
    // min-height: 50px;
    // padding-bottom: 0px;

    //Inner pages search field
    input[type="search"] {
        @include tablet {
            min-width: 300px;
        }

        &::after {
            font-size: $font-size-base;
        }
    }
}
