// Variables

// Colors
$brand_color: #0072ef !default;
$brand_text_color: #fff !default; //Color for text with an accent color background
$text_color: #002f34 !default;
$link_color: #0072ef !default;
$background_color: #f2f4f5 !default;

$visited-link-color: zass-darken($link_color, 20%);
$hover-button-color: zass-darken($brand_color, 20%);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken(
    $background_color,
    3%
); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken(
    $background_color,
    5%
); //#f2f2f2 for the default background_color

$font-size-bigger: 16px;
$font-size-base: 15px;
$font-size-navigation: 14px;
$font-size-small: 13px;
$font-size-smaller: 11px;

$button-color: $brand_color;

$input-font-size: 14px;
$field-text-color: #666;
$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// ================================ OLX Custom =================================

$border-radius-alert: 2px;
$font-size-alert: 0.85rem;
$color-alert: #ffd6c9;
$color-info: #c7dcff;
$color-text-navbar: #fff;
$header-background-color: #002f34;
$header-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
$dropdown-box-shadow: 0 0 4px 0 rgba(0, 48, 53, 0.15),
    0 0 4px 0 rgba(0, 48, 53, 0.15);

// PALETTE - OLX
$color-aero-blue: #cbf7ee;
$color-charcoal: #002f34;
$color-white: #fff;
$color-blue-light: #ceddff;
$color-blue-primary: #3a77ff;
$color-duck-egg-blue: #d8dfe0;
$color-pale-gray: #f2f4f5;
$color-slate: #406367;
$color-red-light: #ffd6c9;
$color-red-bg-light: #ffeeea;
$color-teal-primary: #23e5db;
$color-teal-light: #c8f8f6;
$color-teal-dark: #176361;
$color-teal-dark-mode: #97c5c3;
$color-roman-silver: #7f9799;
$color-sunglow: #ffce32;
$color-sunglow-light: #f8fbcf;
$color-error: #de1609;
$secondary-hover-color: #00777f;

// OLX Font - Geomanist
@font-face {
    font-family: "Geomanist Book";
    src: local("Geomanist Book");
    src: url($assets-geomanist-book-otf);
}

@font-face {
    font-family: "Geomanist Medium";
    src: local("Geomanist Medium");
    src: url($assets-geomanist-medium-otf);
}

@font-face {
    font-family: "Geomanist Regular";
    src: local("Geomanist Regular");
    src: url($assets-geomanist-regular-otf);
}

$heading_font: "Geomanist Medium", Roboto, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif !default;

$text_font: "Geomanist Regular", Roboto, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif !default;

$paragraph_font: "Geomanist Book", Roboto, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif;

$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-500: 500;
$font-weight-semibold: 600;

// Font Sizes - OLX
$font-size-h1: 40px;
$font-size-h3: 24px;
$font-size-h6: 20px;
$font-size-p1: 18px;
$font-size-p3: 16px;
$font-size-p4: 14px;
$font-size-p6: 12px;

// Buttons
$button-border-radius: 4px;
$border-radius: 4px;

// Borders
$border-color: $color-duck-egg-blue;
