// Variables

// Colors
$brand_color: #2a65ea !default;
$brand_text_color: #fff !default; //Color for text with an accent color background
$text_color: #333 !default;
$link_color: #2a65ea !default;
$background_color: #fff !default;

$visited-link-color: zass-darken($link_color, 20%);
$hover-button-color: zass-darken($brand_color, 20%);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken(
    $background_color,
    3%
); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken(
    $background_color,
    5%
); //#f2f2f2 for the default background_color

$font-size-bigger: 16px;
$font-size-base: 15px;
$font-size-navigation: 14px;
$font-size-small: 13px;
$font-size-smaller: 11px;

$border-color: #ddd;

$button-color: $brand_color;

$input-font-size: 14px;
$field-text-color: #999;
$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// Fonts
$heading_font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif !default;
$text_font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif !default;
$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-semibold: 600;

// PANAMERA SPECIFIC
$header-background-color: rgba(0, 47, 52, 0.03);
$header-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
$primary-hover-color: #3b5998;
$secondary-hover-color: #00777f;

// PRIMARY PALETTE

// SECONDARY PALETTE
$brand_color_ext_yellow_dark: #d2b982;
$brand_color_ext_yellow: #f8dd3c;
$brand_color_ext_yellow_light: #f8fbcf;

$brand_color_ext_red_dark: #aa133d;
$brand_color_ext_red: #ff4134;
$brand_color_ext_red_light: #ffd6c9;

$brand_color_ext_aqua_dark: #00a49f;
$brand_color_ext_aqua: #23e5db;
$brand_color_ext_aqua_light: #cbf7ee;

$brand_color_ext_blue_dark: #1d3c81;
$brand_color_ext_blue: #3a77ff;
$brand_color_ext_blue_light: #c7dcff;
