/***** Vote *****/
/* Used in article comments, post comments and post */
.vote {
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
        &:active,
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.vote-sum {
    color: $secondary-text-color;
    display: block;
    margin: 3px 0;

    [dir="rtl"] & {
        direction: ltr;
        unicode-bidi: bidi-override;
    }
}

.vote-up svg {
    transform: scale(1, -1);
}

.vote-up,
.vote-down {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: $color-charcoal;
    cursor: pointer;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.12s ease-in-out,
        border-color 0.12s ease-in-out, color 0.15s ease-in-out,
        box-shadow 0.3s ease;
}

.vote-voted {
    &.vote-up {
        background-color: $color-teal-light;
        border-radius: 4px;
        box-shadow: inset 0 0 0 1px $color-teal-primary;
        color: $color-slate;
        &:hover {
            background-color: $color-pale-gray;
            box-shadow: inset 0 0 0 3px $color-teal-primary;
        }
    }
    &.vote-down {
        background-color: $color-alert;
        border-radius: 4px;
        box-shadow: inset 0 0 0 1px $color-error;
        color: $color-error;
        &:hover {
            background-color: $color-pale-gray;
            box-shadow: inset 0 0 0 3px $color-error;
        }
    }
}

.vote-voted:hover {
    color: $hover-button-color;
}
